<!DOCTYPE HTML>
<html>

<head>
    <title> Приветствие </title>
</head>

<body>
    <p>
        {% if name %}
        Привет,
        {% if gender == "m" %}
        студент
        {% elif gender == "w" %}
        студентка
        {% endif %}
        {{name}}!
        {% else %}
        Введите имя, пожалуйста!
        {% endif %}
    </p>
    <p>
        Ваша образовательная программа: {{program}}.
    </p>
    <p>
        {% if subjects_select %}
        Вы изучаете дисциплины:
        {% for sub in subjects_select[:-1] %}
        <a href={{ url_for('subject', sub=sub) }}> {{sub}}</a>,
        {% endfor %}
        {% for sub in subjects_select[-1:] %}
        <a href={{ url_for('subject', sub=sub) }}> {{sub}}</a>.
        {% endfor %}
        {% else %}
        Вы не изучаете никаких дисциплин.
        {% endif %}
    </p>
</body>