<!DOCTYPE HTML>
<html>

<style>
    ul {
        list-style: none;
    }

    .element {
        width: 5%;
    }
</style>

<head>
    <title> Вектора </title>
</head>

<body>
    <form action="{{ url_for('index') }}" method="get">
        <p><label>Размер векторов<input type="number" min="2" max="4" name="size" value="{{ size }}"></label></p>
        <input type="submit" value="Показать" name="show">
        {% if render_vec %}
        <ul>
            <li>Вектор A:
                {% for e in A %}
                <input class="element" type="number" name="a" value="{{ e }}">
                {% endfor %}
            </li>
            <li>Вектор B:
                {% for e in B %}
                <input class="element" type="number" name="b" value="{{ e }}">
                {% endfor %}
            </li>
        </ul>
        <ul>
            <li><label><input type="radio" name="op" {% if op=='m' %} checked {% endif %} value="m">Скалярное
                    произведение</label></li>
            <li><label><input type="radio" name="op" {% if op=='d' %} checked {% endif %} value="d">Разность</label>
            </li>
            <li><label><input type="radio" name="op" {% if op=='a' %} checked {% endif %} value="a">Угол между
                    векторами</label></li>
        </ul>
        <p><input type="submit" value="Вычислить"><input type="reset" value="Очистить"></p>
        {% if result %}
        <hr>
        <p>Результат:</p>
        <p>
            {% if op in ['m', 'a'] %}
            {{ result }}
            {% elif op == 'd' %}
            {{ ', '.join(result) }}
            {% endif %}
            {% endif %}
        </p>
        {% endif %}
    </form>

</body>